[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "diceR"]
	path = diceR
	url = https://github.com/alinetalhouk/dicer
[submodule "mixedClust"]
	path = mixedClust
	url = https://github.com/cran/mixedClust
	registered = false
